body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  background-color:ghostwhite;
  box-shadow: 0px 5px 5px 0px rgba(87, 85, 85, 0.5); 
}

.buttonsWrapper {
  display: flex;
  padding: 50px;
  align-items: center;
  justify-content: flex-end;
}

.button {
  padding: 10px;
  min-width: 150px;
  width: 20%;
  text-transform: uppercase;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  box-shadow: 5px 3px 3px gray;
}

.button:first-of-type {
  margin-right: 30px;
}